---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
	</head>
	<body>
		<Nav />
		<div class="wrapper mt4 mb4">
			<h1>Four, Oh Four</h1>
			<p>It seems like you are trying to access a page that does not exist</p>
		</div>
	</body>
</html>
