---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Button from "../components/Button";
---

<html lang="en">
  <head>
    <MainHead title="About | Barabás Ákos" description="About Barabás Ákos" />
    <style lang="scss">
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>Barabás Ákos</h1>
      <div class="heroImg">
        <picture>
          <source srcset="assets/about-bg.avif" type="image/avif" />
          <img
            width="1400"
            height="350"
            src="assets/about-bg.jpg"
            alt="Background Image"
          />
        </picture>
      </div>
      <div class="bio wrapper wrapper__readable mt8">
        <p>
          Currently long term contractor of <a
            href="https://www.fncdesigns.com/">FNC designs</a
          >
        </p>
        <p>I was born in 2002 January 26 at Budapest.</p>
        <p>
          I Graduated from Highschool at Váci SZC Boronkay György in 2022 May.
        </p>
        <p>
          I'm currently studying Computer Science at ELTE Faculty of
          Informatics.
        </p>
        <a href="documents/barabas_akos_cv.pdf" download="barabas_akos_cv.pdf">
          <Button>Download my CV</Button>
        </a>
      </div>
    </div>
    <Footer />
  </body>
</html>
